<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
</head>
<th:block th:include="layout/header"></th:block>
<body>
<div class="container">

    <h2>Search for students</h2>
    <form class="form-horizontal" th:object="${student}" th:action="@{/student}" method="GET">
        <input type="text" name="name"  placeholder="Enter name..." th:value="${search}"/>
        <input type="submit" value="Search"/>

        <div th:if="${not #lists.isEmpty(search)}">
            <h2>Students List</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Student Id</th>
                    <th>Name</th>
                    <th>EMail</th>
                    <th>City</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Resume</th>
                </tr>


                <tr th:each="student : ${search}">
                    <td th:text="${student.id}"><a href="/student/${student.id}">Id</a></td>
                    <td th:text="${student.studentId}">Student Id</td>
                    <td th:text="${student.name}">Name</td>
                    <td th:text="${student.email}">Email</td>
                    <td th:text="${student.city}">City</td>

                    <td><a th:href="${ '/student/' + student.id}">View</a></td>
                    <td><a th:href="${'/student/edit/' + student.id}">Edit</a></td>
                    <td><a th:href="${'/student/delete/' + student.id}">Delete</a></td>

                </tr>

            </table>
        </div>
    </form>
</div>
</body>
</html>